# Hands-on 6-13 disimpan lokal saja, tidak di-push ke GitHub
P6 - Parallel and Concurrent Programming - Hands-on/
P7 - Asynchronous Programming in Kotlin - Hands-on/
P8 - Exceptions - Hands-on/
P9 - Testing - Hands-on/
P10 - Build Systems - Hands-on/
P11 - The Java Virtual Machine and the Kotlin Compiler - Hands-on/
P12 - Reflection (JVM) - Hands-on/
P13 - Backend Development Basics - Hands-on/
